apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: catalog-stable-rules
  namespace: monitoring
  labels:
    release: kube-prom-stack
spec:
  groups:
  - name: istio-stable-alerts
    rules:

    # ----------------------------------------------------
    # 1. Stable Success Rate Alert (<95%)
    # ----------------------------------------------------
    - alert: IstioStableLowSuccessRate
      expr: |
        (sum(rate(istio_requests_total{
            reporter="destination",
            destination_service_name="catalog-stable",
            response_code=~"2.."
        }[5m]))
        /
        sum(rate(istio_requests_total{
            reporter="destination",
            destination_service_name="catalog-stable"
        }[5m]))) * 100 < 95
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "Stable service success rate is low"
        description: "Success rate for catalog-stable dropped below 95%."

    # ----------------------------------------------------
    # 2. Stable 5xx Error Rate Alert (>1%)
    # ----------------------------------------------------
    - alert: IstioStableHigh5xxRate
      expr: |
        sum(rate(istio_requests_total{
            reporter="destination",
            destination_service_name="catalog-stable",
            response_code=~"5.."
        }[5m]))
        /
        sum(rate(istio_requests_total{
            reporter="destination",
            destination_service_name="catalog-stable"
        }[5m])) > 0.01
      for: 2m
      labels:
        severity: critical
      annotations:
        summary: "Stable service 5xx error rate is too high"
        description: "More than 1% of requests to catalog-stable are 5xx errors."

    # ----------------------------------------------------
    # 3. Stable P95 Latency Alert (>500ms)
    # ----------------------------------------------------
    - alert: IstioStableHighP95Latency
      expr: |
        histogram_quantile(
          0.95,
          sum(rate(istio_request_duration_milliseconds_bucket{
              reporter="destination",
              destination_service_name="catalog-stable"
          }[5m])) by (le)
        ) > 500
      for: 3m
      labels:
        severity: warning
      annotations:
        summary: "Stable service P95 latency is high"
        description: "P95 latency for catalog-stable exceeded 500ms."
